* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Home */

.plumber-bg {
  width: 1550px;
  z-index: -90;
  position: absolute;
  left: 0;
  top: 0;
  height: 550px;
}

.home-firstline {
  font-size: 50px;
  font-weight: bold;
  width: 30%;
  color: white;
}

.home-container {
  margin-left: 150px;
}

.home-secondline {
  margin-top: 30px;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  width: 30%;
}

.home-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-bottom: 80px;
}

.home-button:hover {
  opacity: 0.3;
  cursor: pointer;
}

/* Nav */

.nav-container {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin-top: 25px;
  margin-bottom: 75px;
}

.nav-logo {
  width: 150px;
  height: 30px;
  margin-left: 150px;
}

.nav-navlist {
  display: flex;
}

.nav-navlist li {
  margin-right: 20px;
  list-style: none;
  font-weight: lighter;
}

.nav-button {
  padding: 7px 20px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  margin-top: -5px;
}

.nav-button:hover {
  opacity: 0.3;
  cursor: pointer;
}

/* Section 2 */
.section2-container {
  margin-top: 20px;
  padding-top: 50px;
  margin-left: 200x;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.section2-background {
  background-color: #fcfcfc;
}

.section2-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.section2-subtitle {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.section2-italic {
  font-style: italic;
}

.section2-paintbrushimg {
  height: 75px;
  width: 75px;
  margin-bottom: 15px;
}

.section2-lockimg {
  height: 75px;
  width: 60px;
  margin-bottom: 15px;
}

.section2-paintbrushimg:hover {
  top: -10px;
  opacity: 0.8;
}

.section2-toprow {
  margin-left: 200px;
  display: flex;
}

.section2-toprow ul {
  list-style: none;
}

.section2-card {
  background-color: #ffffff;
  padding: 50px 20px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 25%;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.section2-card:hover {
  top: -10px;
}

.section2-service {
  font-weight: bold;
  font-size: 18px;
}

.section2-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Section 3 */

.section3-container {
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 130px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
}

.section3-backgroundimg {
  background-image: url("../img/grass1.jpg");
  background-attachment: fixed;
}

.section3-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.section3-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

.section3-button {
  align-self: center;
  justify-self: center;
  width: 80px;
}

.section3-mowingicon {
  background-image: url("../img/lawnmowingicon.png");
  animation: move-right 15s linear infinite;
  background-repeat: no-repeat;
  background-size: 100px;
}

@keyframes move-right {
  from {
    background-position: -50px 0;
  }
  to {
    background-position: 1500px 0px;
  }
}

@media (max-width: 1480px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 130px;
  }
}
@media (max-width: 1460px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 110px;
  }
}
@media (max-width: 1440px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 90px;
  }
}
@media (max-width: 1420px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 70px;
  }
}
@media (max-width: 1400px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 50px;
  }
}
@media (max-width: 1380px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 30px;
  }
}
@media (max-width: 1360px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 10px;
  }
}

@media (max-width: 1350px) {
  .nav-logo {
    width: 150px;
    height: 150px;
    margin-left: 150px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 25px;
  }
}

@media (max-width: 1400px) {
  .plumber-bg {
    margin-left: -100px;
  }
}
@media (max-width: 1300px) {
  .plumber-bg {
    margin-left: -200px;
  }
}
@media (max-width: 1200px) {
  .plumber-bg {
    margin-left: -300px;
  }
}
@media (max-width: 1100px) {
  .plumber-bg {
    margin-left: -400px;
  }
}

@media (max-width: 1000px) {
  .plumber-bg {
    margin-left: -500px;
  }
}
