* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Josefin Sans", sans-serif;
}

/* Home */

.plumber-bg {
  width: 1550px;
  z-index: -90;
  position: absolute;
  left: 0;
  top: 0;
  height: 670px;
}

.home-firstline {
  font-size: 50px;
  font-weight: bold;
  width: 30%;
  color: white;
}

.home-container {
  margin-left: 150px;
}

.home-secondline {
  margin-top: 30px;
  color: white;
  font-size: 25px;
  font-weight: lighter;
  width: 30%;
}

.home-button {
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  margin-bottom: 80px;
  transition: background-color 0.3s ease-in-out;
  background-color: rgb(17, 232, 236, 0.5);
}

.home-button:hover {
  background-color: rgb(17, 72, 236);
  cursor: pointer;
}

.home-grass1 {
  position: absolute;
  right: 0;
  width: 150px;
  height: 500px;
  margin-top: 550px;
}
.home-grass2 {
  position: absolute;
  rotate: 180deg;
  left: 0;
  width: 100px;
  height: 500px;
  margin-top: 350px;
}

/* Nav */

.nav-container {
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin-top: 25px;
  /* margin-bottom: 75px; */
}

.sticky {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  z-index: 10000;
}

.nav-logo {
  width: 150px;
  height: 30px;
  margin-left: 150px;
  z-index: 100000000000;
}

.nav-navlist {
  display: flex;
  margin-bottom: -7px;
}

.nav-item {
  text-decoration: none;
  color: black;
}
.nav-home {
  text-decoration: none;
  color: black;
}

.nav-home:hover {
  color: black;
}

.nav-home::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25;
  height: 3px;
  width: 0;
  background-color: rgb(2, 108, 78);
  transition: width 0.5s ease;
}

.nav-home:hover::before {
  width: 7%;
}

.nav-about {
  text-decoration: none;
  color: black;
}

.nav-about:hover {
  color: black;
}

.nav-about::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25;
  height: 3px;
  width: 0;
  background-color: rgb(2, 108, 78);
  transition: width 0.5s ease;
}

.nav-about:hover::before {
  width: 7.2%;
}
.nav-contact {
  text-decoration: none;
  color: black;
}

.nav-contact:hover {
  color: black;
}

.nav-contact::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25;
  height: 3px;
  width: 0;
  background-color: rgb(2, 108, 78);
  transition: width 0.5s ease;
}

.nav-contact:hover::before {
  width: 9%;
}

.nav-navlist li {
  margin-right: 20px;
  list-style: none;
  font-weight: lighter;
}

.nav-button {
  padding: 7px 20px;
  font-weight: bold;
  font-size: 17px;
  border: none;
  margin-top: -5px;
  background-color: rgb(17, 232, 236, 0.5);
}

.nav-button:hover {
  opacity: 0.3;
  cursor: pointer;
}

/* Section 2 */
.section2-container {
  margin-top: 20px;
  padding-top: 50px;
  /* margin-left: 100x; */
  margin-left: -50px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.section2-background {
  background-color: #fff;
  margin-top: 120px;
}

.section2-title {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.section2-subtitle {
  font-size: 18px;
  font-weight: lighter;
  text-align: center;
}

.section2-italic {
  font-style: italic;
}

.section2-paintbrushimg {
  height: 75px;
  width: 75px;
  margin-bottom: 15px;
}

.section2-lockimg {
  height: 75px;
  width: 60px;
  margin-bottom: 15px;
}

.section2-paintbrushimg:hover {
  top: -10px;
  opacity: 0.8;
}

.section2-toprow {
  margin-left: 200px;
  display: flex;
  padding-top: 50px;
  padding-left: 50px;
}

.section2-toprow ul {
  list-style: none;
}

.section2-card {
  background-color: #ffffff;
  padding: 50px 20px;
  margin-right: 50px;
  margin-bottom: 50px;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.section2-card:hover {
  top: -10px;
}

.section2-service {
  font-weight: bold;
  font-size: 18px;
}

.section2-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -20px;
}

/* Section 3 */

.section3-container {
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 130px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
}

.section3-backgroundimg {
  background-image: url("../img/grass1.jpg");
  background-attachment: fixed;
}

.section3-title {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

.section3-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: lighter;
}

.section3-button {
  align-self: center;
  justify-self: center;
  margin-top: 20px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background-color: rgb(17, 232, 236, 0.5);
}

.section3-button:hover {
  background-color: rgb(17, 72, 236);
  cursor: pointer;
}

.section3-mowingicon {
  background-image: url("../img/lawnmowingicon.png");
  animation: move-right 15s linear infinite;
  background-repeat: no-repeat;
  background-size: 100px;
}

/* Section 4 */
.section4-container {
  margin-top: 20px;
  padding-top: 50px;
  /* margin-left: 100x; */
  margin-left: -50px;
  margin-right: 150px;
  display: flex;
  flex-direction: column;
}

.section4-card {
  background-color: #ffffff;
  /* padding: 50px 20px; */
  margin-right: 50px;
  margin-bottom: 50px;
  border: 4px solid #17722b;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section4-cardtextcontainer {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  width: 33%;
  text-align: center;
}

.section4-img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section4-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.section4-btn {
  display: none;
}

.section4-card:hover button {
  display: block;
  position: absolute;
  top: 0;
  text-align: center;
  padding: 8px 10px;
  font-weight: bold;
  border: none;
  background-color: rgb(17, 232, 236, 1);
  margin-top: 100px;
  margin-left: 100px;
}

.section4-card:hover {
  background-color: #ccc;
}

.section4-bush {
  position: absolute;
  right: 0;
  width: 150px;
  height: 500px;
  margin-top: 50px;
}
.section4-bush2 {
  position: absolute;
  left: 0;
  width: 350px;
  height: 300px;
  margin-top: 350px;
}
/* Section 5 */
.section5-background {
  background-color: #ffffff;
}

.section5-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.section5-title {
  font-weight: bold;
  overflow-y: hidden;
  overflow-x: hidden;
}

.section5-subtitle {
  font-size: 17px;
  text-align: center;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 50px;
  overflow-y: hidden;
  overflow-wrap: hidden;
}

.section5-strategybtn {
  padding: 15px 25px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
}

.section5-strategybtn:focus {
  background-color: rgb(17, 232, 236, 0.5);
  border: solid 3px black;
}

.section5-strategybtn:hover {
  background-color: rgb(17, 232, 236, 0.5);
}
.section5-designbtn {
  padding: 15px 25px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
}

.section5-designbtn:focus {
  background-color: rgb(17, 232, 236, 0.5);
  border: solid 3px black;
}

.section5-designbtn:hover {
  background-color: rgb(17, 232, 236, 0.5);
}
.section5-developmentbtn {
  padding: 15px 25px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
}

.section5-developmentbtn:focus {
  background-color: rgb(17, 232, 236, 0.5);
  border: solid 3px black;
}

.section5-developmentbtn:hover {
  background-color: rgb(17, 232, 236, 0.5);
}
.section5-maintenancebtn {
  padding: 15px 25px;
  border: 1px solid #ccc;
  background-color: rgb(255, 255, 255);
}

.section5-maintenancebtn:focus {
  background-color: rgb(17, 232, 236, 0.5);
  border: solid 3px black;
}

.section5-maintenancebtn:hover {
  background-color: rgb(17, 232, 236, 0.5);
}

.section5-strategy-text {
  display: flex;
  margin-left: 350px;
  margin-top: 35px;
}

.section5-strategy-text-hidden {
  display: none;
}
.section5-design-text {
  display: flex;
  margin-left: 350px;
  margin-top: 35px;
}

.section5-design-text-hidden {
  display: none;
}
.section5-development-text {
  display: flex;
  margin-left: 350px;
  margin-top: 35px;
}

.section5-development-text-hidden {
  display: none;
}
.section5-maintenance-text {
  display: flex;
  margin-left: 350px;
  margin-top: 35px;
}

.section5-maintenance-text-hidden {
  display: none;
}

.section5-contentcontainer {
  width: 40%;
  margin-left: 100px;
}

.section5-img {
  width: 350px;
  height: 330px;
}

.section5-contenttitle {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(17, 232, 236, 0.5);
}

/* Section 6 */

.section6-background {
  background-image: url("../img/contactbg2.jpg");
  background-repeat: no-repeat;
  margin-top: 100px;
}

.section6-container {
  height: 650px;
  width: 100%;
  display: flex;
}

.section6-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  /* height: 1000px; */
}

.section6-btn {
  margin-top: 30px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  margin-bottom: 80px;
  background-color: rgb(17, 232, 236, 0.5);
  width: 20%;
  height: 50px;
}

.section6-btn:hover {
  background-color: rgb(17, 72, 236);
  cursor: pointer;
}

.section6-contactcta {
  width: 50%;
  margin-left: 150px;
  margin-top: 175px;
}

.section6-boldtext {
  font-size: 35px;
  font-weight: bold;
}

.section6-subtext {
  font-weight: lighter;
}

.section6-email {
  width: 20%;
}

.section6-emailinput {
  width: 30%;
  border-radius: 0px;
  border: 0px solid black;
  background-color: rgb(32, 96, 38);
  padding: 15px 10px;
  margin-right: 15px;
  margin-top: 175px;
}

.section6-emailinput::placeholder {
  color: rgb(255, 255, 255);
}

.section6-textinput {
  width: 62.7%;
  border-radius: 0px;
  border: 0px solid black;
  background-color: rgb(32, 96, 38);
  padding: 15px 10px;
  margin-top: 15px;
}

.section6-textinput::placeholder {
  color: rgb(255, 255, 255);
}

/* Section 7 */

.section7-background {
  background-color: rgb(5, 18, 5);
}

.section7-container {
  height: 285px;
  width: 100%;
  margin-left: 150px;
  margin-top: 75px;
  display: flex;
}

.section7-sections {
  width: 20%;
  margin-right: 75px;
}

.section7-logo {
  width: 200px;
  height: 45px;
}

.section7-about {
  color: white;
  font-weight: lighter;
  margin-top: 55px;
}

.section7-nav {
  color: white;
  font-size: 18px;
}

.section7-title {
  color: white;
  font-size: 18px;
}
.section7-subtext {
  font-weight: lighter;
}

/* Section 8 */

.section8-background {
  background-color: rgb(4, 9, 3);
}

.section8-container {
  height: 120px;
  width: 100%;
}

.section8-copyright {
  text-align: center;
  margin: 40px;
}

@keyframes move-right {
  from {
    background-position: -50px 0;
  }
  to {
    background-position: 1500px 0px;
  }
}

@media (max-width: 1480px) {
  .nav-logo {
    margin-left: 130px;
  }
}
@media (max-width: 1460px) {
  .nav-logo {
    margin-left: 110px;
  }
}
@media (max-width: 1440px) {
  .nav-logo {
    margin-left: 90px;
  }
}
@media (max-width: 1420px) {
  .nav-logo {
    margin-left: 70px;
  }
}
@media (max-width: 1400px) {
  .nav-logo {
    margin-left: 50px;
  }
}
@media (max-width: 1380px) {
  .nav-logo {
    margin-left: 30px;
  }
}
@media (max-width: 1360px) {
  .nav-logo {
    margin-left: 10px;
  }
}

@media (max-width: 1350px) {
  .nav-logo {
    margin-left: 150px;
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-top: 25px;
  }
}

@media (max-width: 1400px) {
  .plumber-bg {
    margin-left: -100px;
  }
}
@media (max-width: 1300px) {
  .plumber-bg {
    margin-left: -200px;
  }
}
@media (max-width: 1200px) {
  .plumber-bg {
    margin-left: -300px;
  }
}
@media (max-width: 1100px) {
  .plumber-bg {
    margin-left: -400px;
  }
}

@media (max-width: 1000px) {
  .plumber-bg {
    margin-left: -500px;
  }
}

@media (max-width: 1090px) {
  .styledBurger {
    width: 2rem;
    height: 2rem;
    margin-right: 0px;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 1000000;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  .burger {
    width: 2.5rem;
    height: 0.25rem;
    /* background-color: #333; */
    margin-bottom: 10px;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
    z-index: 100000;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
